---
title: Top Cafe - Contact
---
{% include_relative _sus.html %}
{% include_relative _meniu.html %}

    

    <div class="container marketing">
        
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Contact<span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Strada Republicii, nr. 5, 805300, Tecuci, Galati, Romania.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="imagini/logo.png" alt="Top Cafe">
        </div>
      </div>


      {% include_relative _jos_firma.html %}

    </div><!-- /.container -->

{% include_relative _jos.html %}
